{;; authorization can be specified either in config or in a file
 :auth "<ghuser>:<ghpass>"
 ;; file takes precedence, format is the same as :auth
 :auth-file "/home/hinmanm/.gitreport"
 ;; Who owns the repo
 :gh-owner "elastic"
 ;; Name of the repository
 :gh-repo "elasticsearch"
 ;; Team members
 :gh-team ["dakrone" "imotov" "jdconrad" "mikemccand"
           "nknize" "rmuir" "rjernst"]
 :table-format doric.core/org
 :doric-headers [{:name :assignee :title "Assignee"}
                 {:name :html_url :title "URL" :format gitreport.table/format-url-org}
                 {:name :title :title "Title" :width 70 :ellipsis true}]}
